.mortgage-calculator-container {
    /* max-width: 800px; */
    margin: 20px auto;
    padding: 35px 80px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    margin-top: 110px;
}

.calculator-title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    color: #2c3e50;
    text-align: left;
}

.calculator-description {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #555;
    margin-bottom: 20px;
    text-align: left;
}

.input-section {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group label {
    margin-bottom: 8px;
    color: #34495e;
    font-weight: bold;
    font-size: 0.9rem;
}

.input-group input {
    padding: 12px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.input-group input:focus {
    outline: none;
    border-color: #007bff;
}

.input-group input::placeholder {
    color: #b3b3b3;
    font-size: 0.9rem;
}

.payment-section {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.monthly-payment {
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
}

.payment-breakdown {
    margin: 0;
    padding: 0;

}

.payment-breakdown h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #3498db;
    font-weight: bold;
}

.payment-breakdown p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}
.payment-breakdown .breakdown-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1rem;
}

.explanation-section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.explanation-section h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #3498db;
    font-weight: bold;
}

.explanation-section p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #555;
}

.formula-section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.formula-section h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #3498db;
    font-weight: bold;
    padding: 10px 0;
}
 .text{
    padding: 10px;
}

.formula-section p {
    font-size: 1rem;
    line-height: 1.7;
    color: #555;
    margin-bottom: 15px;
}

.formula-image-placeholder {
    width: 92%;
    height: 200px;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    font-size: 0.5rem;
    padding: 9px 0;
}


.tips-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.tips-section h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #3498db;
    font-weight: bold;
}

.tips-section p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #555;
}

.tips-image-placeholder {
    width: 100%;
    height: 200px;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    font-size: 0.9rem;
}

.calculate-button{
  padding: 12px 24px;
  background-color: #0056b3;  
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 100%;
}

.calculate-button:hover {
    background-color: #007bff;
}


@media (max-width: 768px) {
    .input-section {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .mortgage-calculator-container {
        padding: 15px;
    }

    .calculator-title {
        font-size: 1.8rem;
    }

    .calculator-description {
        font-size: 1rem;
    }
    .input-group label{
      font-size: 0.9rem;
    }
     .input-group input{
      font-size: 1rem;
      padding: 10px;
    }
    .payment-section{
      padding: 15px;
    }
    .payment-breakdown p{
      font-size: 1rem;
    }
    .payment-breakdown h3{
      font-size: 1.2rem;
    }
    .monthly-payment{
      font-size: 1.5rem;
    }

}