.footer {
  background-color: white;
  /* color: #fff; */
  padding: 30px;
  margin-top: 20px;
  padding: 2rem 10rem;
}

.footer-section h4, .footer-columns h5 {
  color: #00aaff;
  margin-bottom: 10px;
}

.footer p, .footer-columns p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-disclaimer {
  margin-top: 80px;
  font-size: 12px;
  line-height: 1.5;
  /* color: #bbb; */

}

.footer-disclaimer p {
  margin: 0;
}

.hrbold{
  font-weight: 700;
  font-size: 90px;
  background-color: rgb(195, 184, 184);
  height: 3px;
  display: flex;
  flex-direction: column;
}
