.footer {
  background-color: white;
  padding: 30px;
  margin-top: 20px;
  padding: 2rem 10rem;
}

.footer-section h4,
.footer-columns h5 {
  color: #007bff;
  font-size: 22px;
  margin-bottom: 10px;
}

.footer p,
.footer-columns p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-disclaimer {
  margin-top: 80px;
  font-size: 12px;
  line-height: 1.5;
}

.footer-disclaimer p {
  margin: 0;
}

.hrbold {
  font-weight: 700;
  font-size: 90px;
  background-color: rgb(195, 184, 184);
  height: 3px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .footer {
    padding: 1.5rem;
  }

  .footer-columns {
    flex-direction: column;
  }

  .footer-column {
    min-width: auto;
    margin: 10px 0;
  }

  .footer-section h4,
  .footer-columns h5 {
    font-size: 18px;
  }

  .footer p,
  .footer-columns p {
    font-size: 12px;
  }

  .footer-disclaimer {
    margin-top: 40px;
    font-size: 10px;
    line-height: 1.4;
  }
  .hrbold {
    margin-top: 40px;
  }
}

@media (max-width: 576px) {
  .footer {
    padding: 1rem;
  }

  .footer-section h4,
  .footer-columns h5 {
    font-size: 16px;
  }

  .footer p,
  .footer-columns p {
    font-size: 10px;
  }

  .footer-disclaimer {
    font-size: 8px;
    line-height: 1.3;
  }
  .hrbold {
    margin-top: 20px;
  }
}
